.menu-button:hover {
     background-color: #1e1e1e !important;
     color: white !important;
     transform: scale(1.1);
}

.menu-button-dark:hover {
     background-color: white !important;
     color: #1e1e1e !important;
     transform: scale(1.05);
}
